<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Fragments for ticketHomeUbicacionView.html</title>
    </head>
    <body>
        <div class="row" th:fragment="header">
            <div class="col-lg-2">
                <img th:src="@{/img/country_logo.png}" class="img-fluid" alt="Logo">
            </div>
            <div class="col-lg-4">
                <h1>Gestión de Alta Oportuna</h1>
                <th:block th:if="${ticketHomeResults.size() > 0}">
                    <h6 th:text="${ticketHomeResults[0].nomUbicacion}"></h6>
                </th:block>
            </div>
            <div class="col-lg-auto">
                <img th:src="@{/img/leyenda.png}" width="50%" height="50%" class="img-fluid" alt="Leyenda">
            </div>
        </div>
        <div th:id="table_ubc" class="table-responsive" th:fragment="table_">
            <table class='table tableFixHead table-bordered'>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Habitación </th>
                        <th scope="col"> Atención </th>
                        <th scope="col"> Género </th>
                        <th scope="col"> Boleto a Casa </th>
                        <th scope="col"> Fecha Salida Probable </th>
                        <th scope="col"> Fecha Ingreso </th>
                        <th scope="col"> Médico Tratante </th>
                        <th scope="col"> Días Postergación </th>
                    </tr>
                </thead>
                <tbody th:id="tbody-update">
                    <tr th:if="${ticketHomeResults.empty}">
                        <td colspan="8"> No Records Available </td>
                    </tr>
                <th:block th:each="thr : ${ticketHomeResults}">
                    <!-- 1=GREEN, 2=YELLOW, 3=RED-->
                    <tr th:classappend="${(thr.color == 4 ? 'bgc-green' : '') +
                        (thr.color == 3 ? 'bgc-red' : '') +
                        (thr.color == 2 ? 'bgc-orange' : '') +
                        (thr.color == 1 ? 'bgc-yellow' : '')}">
                        <td><span th:text="${thr.codCama}"></span></td>
                        <td><span th:text="${thr.idAtencion}"></span></td>
                        <td><span th:text="${thr.genero}"></span></td>
                        <td><span th:text="${thr.BAC}"></span></td>
                        <td><span th:text="${thr.fecha_probable_salida}"></span></td>
                        <td><span th:text="${thr.fecha_ingreso}"></span></td>
                        <td><span th:text="${thr.medico_tratante}"></span></td>
                        <td><span th:text="${thr.diasPostergacion}"></span></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </body>
</html>
