<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: head">
    </head>
    <body th:onload="'javascript:ubc.timed_call(' + ${ubc} + ');'">
        <div class="container-fluid">
            <div th:replace="fragments/ticketHomeUbicacionFrags.html :: header"></div>
            <div th:replace="fragments/ticketHomeUbicacionFrags.html :: table_"></div>
        </div>
    </body>
</html>
