<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: head">
    </head>
    <body th:onload="home.timed_call()">
        <div class="container-fluid">
            <div th:replace="fragments/ticketHomeFrags.html :: header"></div>
            <div th:replace="fragments/ticketHomeFrags.html :: table_"></div>
        </div>
    </body>
</html>